<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="post" enctype="multipart/form-data">
    <table>
        <tr th:object="${product}">
            <td><input th:field="*{name}"></td>
            <td><img th:src="*{img}" width="300" height="250"></td>
            <td><input th:field="*{img}" hidden></td>
            <td>
                <select name="idCategory">
                    <option th:each="c : ${categories}" th:value="${c.id}" th:text="${c.name}"></option>
                </select>
            </td>
            <td>
                <button type="submit">Edit</button>
            </td>
        </tr>
    </table>
</form>
</body>
</html>